:root {
  --color-primary: #020151; /* azul oscuro */
  --color-secondary: #940466; /* morado */
  --color-white: #f9f9f9;
  --color-black: #000000;
}

@font-face {
  font-family: 'Mont';
  src: url('../assets/fonts/Mont-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Mont';
  src: url('../assets/fonts/Mont-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* Tema claro */
.light {
  --bg-color: var(--color-white);
  --text-color: var(--color-black);
  --header-bg: var(--color-white);
  --header-text: var(--color-primary);
}

/* Tema oscuro */
.dark {
  --bg-color: var(--color-black);
  --text-color: var(--color-white);
  --header-bg: var(--color-primary);
  --header-text: var(--color-white);
}

/* Aplicar variables generales */
body, .light, .dark {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
