/* ===== Sección ===== */
.contact-section {
  padding: 4rem 1rem;
  background: #020151;
  color: #ffffff;
  font-family: 'Mont', sans-serif;
}

/* ===== Wrapper ===== */
.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 4rem;
}

/* ===== Lado izquierdo ===== */
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.contact-logo {
  width: 400px; /* tamaño fijo del logo */
  margin-top: 3rem;
  margin-bottom: 0rem;
}

.contact-text {
  font-size: 2rem;
  line-height: 1.3;
}

/* ===== Línea divisoria ===== */
.contact-divider {
  width: 5px;
  background-color: #ffffff;
  height: 80%;
}

/* ===== Lado derecho ===== */
.contact-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

/* Elementos individuales (teléfono y correo) */
.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  color: #ffffff;
}

.contact-icon {
  min-width: 30px;
  min-height: 30px;
  color: #ffffff;
}

/* ===== Botones sociales ===== */
.contact-socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.contact-social-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  height: 50px;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  transition: background 0.3s ease;
}

.contact-social-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* ===== Responsive ===== */
@media (max-width: 991px) {
  .contact-wrapper {
    flex-direction: column;
    gap: 2rem;
  }

  .contact-logo {
  width: 200px;
  margin: 0rem;
}

  .contact-text {
  font-size: 1.2rem;
  margin-bottom: 0;
}

  .contact-divider {
    width: 80%;
    height: 3px;
    margin: 0;
  }

  .contact-left,
  .contact-right {
    align-items: center;
    text-align: center;
  }

  .contact-item {
    justify-content: center;
    font-size: 1rem;
  }

.contact-icon {
  min-width: 10px;
  min-height: 10px;
}

  .contact-socials {
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact-social-btn {
  width: 200px;
  height: 50px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
}
}

